{% extends 'base.html' %}

{% block content %}

    <div class="my-4">
        <h1>{{mode|title}} Order #{{order.id}} </h1>

        <div class="card orders-card" style="overflow: auto">
          <div class="d-flex justify-content-between gap-5 align-items-center">


    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-view-all">{{mode|title}} Order</button>
    </form>
          </div>
        </div>
    </div>
    
{% endblock %}