{% extends 'base.html' %}

{% block content %}
<div class="container p-6">
    <p class="text-2xl font-semibold p-0 m-0">All Orders</p>
    <p class="fw-light p-0">Orders detail information</p>
    
    <div class="shadow-md border rounded p-4">
        <input placeholder="search your orders" class="border rounded p-2"/>

        <div class="flex float-end mb-4">
            <button class="bg-primary text-white px-4 py-2 rounded btn">+ Add Item</button>
            <button class="bg-gray-300 px-4 py-2 rounded btn">Filter</button>
        </div>
        
        <table class=" w-100">
            <thead>
                <tr class="bg-light rounded">
                    <th class="border-end p-2 text-left">Supermarket Name</th>
                    <th class="border-end p-2 text-left">Created At</th>
                    <th class="border-end p-2 text-left">Status</th>
                    <th class=" p-2 text-left">Created By</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr class="border-bottom">
                    <td class="p-2 border">{{ order.supermarket }} {{order.id}}</td>
                    <td class="p-2 border">{{ order.created_at }}</td>
                    <td class="p-2 border">{{ order.status }}</td>
                    <td class="p-2 border">{{ order.created_by_user }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="p-4 text-center">No orders found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
