{% extends 'base.html' %}

{% block content %}

<style>
    .action-icons i {
      cursor: pointer;
      margin: 0 5px;
    }
    .btn-view-all {
      border: 1px solid #4339f2;
      color: #4339f2;
      border-radius: 8px;
      font-size: 14px;
    }
    .orders-card {
      border: none;
      border-radius: 12px;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
      padding: 15px;
    }
    </style>


<h5 class="fw-bold" >Products for order </h5>
<div class="my-4">
    <div class="card orders-card" style="overflow: auto">
      <div class="d-flex justify-content-between gap-5 align-items-center">
        <div class="input-group w-25">
            <button class="input-group-text" >
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <input
              type="text"
              class="form-control"
              placeholder="Search"
              aria-label="Search"
              aria-describedby="basic-addon1" />
          </div>
    <div>
     <a href="{% url 'order_add_item' order_items.id %}"><button class="btn btn-view-all fw-semibold me-2" style="background-color: #4339f2; color:white"> + Add An Item</button></a> 
      <button class="btn btn-view-all me-2">View All</button>
    </div>
      </div>
      <table class="table align-middle mt-3">
        <thead>
          <tr>
            <th></th>
            <th>Order ID</th>
            <th> Product</th>
            <th>quantity</th>
            <th>Stock</th>
            <th>Created By</th>
            <th>Action</th>
          </tr>
        </thead>
        {% for item in order_items.items.all %}
        <tbody>
          <tr>
            <td><input type="checkbox" /></td>
            <td>
              #{{ item.product.name }}
            </td>
            <td>{{item.id}}</td>
            <td>{{ item.product }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.created_by_user }}</td>
            <td class="action-icons">
              <button type="button" class="btn" data-bs-toggle="modal" data-bs-toggle="modal" data-bs-target="#deleteorderitem-{{item.id}}">
                <i class="fas fa-trash text-danger"></i>
              </button>
              <!-- Confirm Delete Modal -->
             <div class="modal fade" id="deleteorderitem-{{item.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Delete</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Are you sure you want to delete this item?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form action="{% url 'order-item-delete' item.id %}" method="post">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger">Confirm</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            </td>
          </tr>
          {% empty %}
                
                    <td colspan="10" class="p-4 text-center">No orders found.</td>
                
            {% endfor %}
            <div class="shipment-actions mt-4">
              {% if order_items.status == 'PENDING' %}
                  <a href="{% url 'order_add_item' order_items.id %}"
                     class="btn btn-primary">➕ Add Item</a>
                  <!-- <a href="#"
                     class="btn btn-primary">Update Shipment</a> -->
              {% endif %}
              {% if request.user.is_superuser or request.user.role == "manager" %}
                  {%if order_items.status == 'PENDING'%}
                      <form method="post"
                            action="{% url 'order-confirm' order_items.id %}"
                            class="d-inline">
                          {% csrf_token %}
                          <p> {{order_items.status}}</p>
                          <button type="submit" class="btn btn-success">✅ Confirm Shipment</button>
                      </form>
                  {% endif %}
              {% endif %}
          </div>
            
{% endblock %}
