:root {
  --color-blue: #584bdd;
  --color-purple: #9747ff;
  --color-dark-gray: #3b3b3b;
}
.swal2-toast {
  background-color: var(--color-dark-gray) !important;
  color: #fff !important;
}
.swal2-toast .swal2-success-ring {
  border-color: rgba(255, 255, 255, 0.3) !important;
}
.swal2-toast .swal2-title {
  color: #fff !important;
}
.swal2-toast.swal2-error {
  background-color: #dc3545 !important;
}
body {
  font-family: "Montserrat", sans-serif;
}
input {
  width: 60% !important;
}
img {
  border-radius: 20px 0px 0px 20px !important;
}
.main-wrapper {
  width: 80%;
  margin: 5% auto;
  border-radius: 20px !important;
  min-height: 600px;
}
.log-btn:hover {
  background-color: var(--color-purple) !important;
}
@media (max-width: 1024px) {
  .custom-body {
    min-height: 100vh;
  }
}
