:root {
  --color-blue: #584bdd;
  --color-purple: #9747ff;
  --color-dark-gray: #3b3b3b;
}
.swal2-toast {
  background-color: var(--color-dark-gray) !important;
  color: #fff !important;
}
.swal2-toast .swal2-success-ring {
  border-color: rgba(255, 255, 255, 0.3) !important;
}
.swal2-toast .swal2-title {
  color: #fff !important;
}
.swal2-toast.swal2-error {
  background-color: #dc3545 !important;
}
body {
  font-family: "Montserrat", sans-serif;
}
input,
select {
  width: 60% !important;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
}
select option {
  background: white;
  color: black;
  padding: 10px;
}
select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(88, 75, 221, 0.5);
}
img {
  border-radius: 20px 0px 0px 20px !important;
}
.main-wrapper {
  width: 80%;
  margin: 12% auto;
  border-radius: 20px !important;
  min-height: 600px;
}
.reg-btn:hover {
  background-color: var(--color-purple) !important;
}
.profile:hover {
  background-color: #f3f3f3 !important;
}
.bell-btn:hover {
  background-color: #f3f3f3 !important;
}
@media (max-width: 1024px) {
  .custom-body {
    min-height: 100vh;
  }
}
