{% extends "base.html" %}

{% block title %} Shipment Details {% endblock title %}

{% block content %}
<h2>Shipment Details</h2>


<div class="mt-4">
  {% if request.user.is_superuser or request.user.role == "manager" %}
    {% if order_items.status == 'PENDING' %}
      <form method="post" action="{% url 'order-confirm' order_items.id %}" class="d-inline">
        {% csrf_token %}
        <button type="submit" class="btn fw-semibold me-2" style="color:#4339f2; border:1px solid #4339f2">Confirm Order</button>
      </form>
    {% endif %}
  {% endif %}
</div>

<div class="my-4">
  <div class="card orders-card" style="overflow: auto">
    <div class="d-flex justify-content-between gap-5 align-items-center">
      <div class="input-group w-25">
        <button class="input-group-text">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1" />
      </div>
      <div>
        {% if not shipment.confirmed %}
          <a href="{% url 'shipment_add_item' shipment.id %}">
            <button class="btn btn-view-all fw-semibold me-2" style="background-color: #4339f2; color:white">+ Add An Item</button>
          </a>
        {% endif %}
        <a href="{% url 'shipment_list' %}" class="btn btn-view-all me-2 text-decoration-none">View All</a>
      </div>
    </div>

    <!-- Products Table -->
    <table class="table align-middle mt-3">
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Added By</th>
          {% if not shipment.confirmed %}
            <th>Actions</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for item in page_obj %}
          <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>
              {% if item.created_by %}
                {{ item.created_by.username }}
              {% else %}
                <em>Unknown</em>
              {% endif %}
            </td>
            {% if not shipment.confirmed %}
              <td>
                <form action="{% url 'shipment_delete_item' item.id %}" method="post" class="delete-item-form">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-sm">
                    <i class="fas fa-trash text-danger"></i>
                  </button>
                </form>
              </td>
            {% endif %}
          </tr>
        {% empty %}
          <tr>
            <td colspan="10" class="p-4 text-center">No orders found.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- Pagination inside the card -->
    {% if is_paginated %}
      <nav class="pagin mt-3">
        <span class="float-end">
          <ul class="pagination">
            {% if page_obj.has_previous %}
              <li class="page-item">
                <a href="?page=1">first</a>
              </li>
              <li class="page-item">
                <a href="?page={{ page_obj.previous_page_number }}">⬅</a>
              </li>
            {% endif %}
            <li class="page-item">
              <span style="background-color: #4339f2; color:white; border-radius: 4px; padding-left: 10px; padding-right: 10px;">
                {{ page_obj.number }}
              </span>
            </li>
            {% if page_obj.has_next %}
              <li class="page-item">
                <a href="?page={{ page_obj.next_page_number }}">➡</a>
              </li>
              <li class="page-item">
                <a href="?page={{ paginator.num_pages }}">last</a>
              </li>
            {% endif %}
          </ul>
        </span>
      </nav>
    {% endif %}
  </div>
</div>


<div class="shipment-actions mt-4">
  {% if not shipment.confirmed %}
    <a href="{% url 'shipment_edit' shipment.id %}" class="btn btn-primary">Update Shipment</a>
  {% endif %}
  {% if request.user.is_superuser or request.user.role == "manager" %}
    {% if not shipment.confirmed %}
      <form method="post" action="{% url 'shipment_confirm' shipment.id %}" class="d-inline">
        {% csrf_token %}
        <button type="submit" class="btn">Confirm Shipment</button>
      </form>
    {% endif %}
  {% endif %}
</div>

{% endblock content %}