{% extends 'base.html' %} {% block content %} {% load static %}
<title>Login</title>
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
<div
  class="d-flex d-xl-block align-items-center justify-content-center custom-body">
  <div class="row main-wrapper align-items-center shadow">
    <div class="col-sm-12 col-lg-12 col-xl-6 text-center p-0">
      <img
        class="img-fluid d-none d-xl-block"
        style="background: linear-gradient(180deg, #9747ff, #584bdd)"
        src="{% static 'images/Registerimg.svg' %}"
        alt="Barcode Image" />
    </div>
    <div class="col-sm-12 col-lg-12 col-xl-6">
      <form method="POST" class="row g-4 justify-content-center mt-4">
        {% csrf_token %}
        <h3 style="padding-left: 20%">
          <span class="fw-bolder">Hello Again!</span><br />
          <span style="font-size: 20px">Welcome Back</span>
        </h3>
        {{form.email}} {{form.password}}
        <button
          type="submit"
          class="btn btn-primary rounded-pill fw-bold py-3 px-5"
          style="width: 60%; background-color: var(--color-blue)">
          Login
        </button>

        <p class="text-center mt-3">
          Didn't have an account?
          <a
            style="color: var(--color-blue)"
            href="{% url 'accounts:register' %}"
            >Register</a
          >
        </p>
      </form>
    </div>
  </div>
</div>
{% if login_success %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    Swal.fire({
      title: "Login Successful",
      text: "You have successfully logged in!",
      icon: "success",
      toast: true,
      position: "top",
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: true
    }).then(() => {
      window.location.href = "{% url 'accounts:index' %}";
    });
  });
</script>
{% endif %} {% endblock content %}
