{% extends 'base.html' %} {% block content %} {% load static %}
<title>Sign up</title>
<link rel="stylesheet" href="{% static 'css/register.css' %}" />
<div
  class="d-flex d-xl-block align-items-center justify-content-center custom-body">
  <div class="row main-wrapper align-items-center shadow">
    <div class="col-sm-12 col-lg-12 col-xl-6 text-center p-0">
      <img
        class="img-fluid d-none d-xl-block"
        style="background: linear-gradient(180deg, #9747ff, #584bdd)"
        src="{% static 'images/Registerimg.svg' %}"
        alt="Barcode Image" />
    </div>
    <div class="col-sm-12 col-lg-12 col-xl-6">
      <form method="POST" class="row g-4 justify-content-center mt-4">
        {% csrf_token %}
        <h3 style="padding-left: 20%">
          <span class="fw-bolder">Hello!</span><br />Sign up to get started.
        </h3>

        {{ form.username }} {{ form.email }} {{ form.password1 }}
        {{form.password2 }} {{ form.role }}

        <button
          type="submit"
          class="btn btn-primary rounded-pill fw-bold py-3 px-5"
          style="width: 60%; background-color: var(--color-blue)">
          Register
        </button>

        <p class="text-center mt-3">
          Already have an account?
          <a style="color: var(--color-blue)" href="{% url 'accounts:login' %}"
            >Login</a
          >
        </p>

        {% if form.non_field_errors %}
        <div class="alert alert-danger mt-3">
          {% for error in form.non_field_errors %}
          <p>{{ error }}</p>
          {% endfor %}
        </div>
        {% endif %}
      </form>
    </div>
  </div>
</div>
{%if register_success %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    Swal.fire({
      title: "Registration Successful",
      text: "You have successfully registered!",
      icon: "success",
      toast: true,
      position: "top",
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: true
    }).then(() => {
      window.location.href = "{% url 'accounts:index' %}";
    });
  });
</script>
{% endif %} {% endblock content %}
