{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <title>Update Product</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <div class="card shadow-lg">
                <div class="card-header bg-warning text-white text-center">
                    <h2>Update Product</h2>
                </div>
                <div class="card-body">
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            {{ form.errors }}
                        </div>
                    {% endif %}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn button w-100 mt-3">Update Product</button>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'inventory:product_list' %}" class="btn btn-link">Back to Product List</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}