{% extends "base.html" %} {% block content %}



<h3>Shipments in {{factory.name}} factory</h3>
<p><strong>Location: </strong> {{factory.location}} </p>
<div class=" mt-4">
  <div class="card shadow-sm">
    <div class="card-body">
      <h5 class="card-title">Factory Statistics</h5>
      <p class="card-text">
        Total Shipments: {{ factory.shipments.count }}
      </p>
    </div>
  </div>
</div>
<div class="my-4">
    <div class="card orders-card" style="overflow: auto">
      <div class="d-flex justify-content-between gap-5 align-items-center">
      </div>
      <table class="table align-middle mt-3">
        <thead>
          <tr>
            <th>#</th>
            <th>Receive Date</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        {% for shipment in factory.shipments.all %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ shipment.receive_date }}</td>
          <td>
            {% if shipment.confirmed %}
            <p class="text-success">Confirmed</p>
            {% else %}
            <p class="text-info">Pending</p>
            {% endif %}
          </td>
          <td>
            <a
              href="{% url 'shipment_detail' shipment.id %}"
              class="btn btn-sm"
              ><i class="fas fa-eye text-primary"></i></a
            >
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="4" class="text-center text-muted">
            No shipments from this factory.
          </td>
        </tr>
        {% endfor %}


</div>
{% endblock %}
