{% extends "base.html" %}

{% block extra_head %}
  <title>Factory Details</title>
{% endblock %}

{% block content %}

<h3>Shipments in {{factory.name}} factory</h3>
<p><strong>Location: </strong> {{factory.location}} </p>
<div class=" mt-4">
  <div class="card shadow-sm">
    <div class="card-body">
      <h5 class="card-title">Factory Statistics</h5>
      <p class="card-text">
        Total Shipments: {{ factory.shipments.count }}
      </p>
    </div>
  </div>
</div>
<div class="my-4">
    <div class="card orders-card" style="overflow: auto">
      <div class="d-flex justify-content-between gap-5 align-items-center">
      </div>
      <table class="table align-middle mt-3">
        <thead>
          <tr>
            <th>#</th>
            <th>Receive Date</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for shipment in shipments %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ shipment.receive_date }}</td>
          <td>
            {% if shipment.confirmed %}
            <p class="text-success">Confirmed</p>
            {% else %}
            <p class="text-info">Pending</p>
            {% endif %}
          </td>
          <td>
            <a href="{% url 'shipment_detail' shipment.id %}" class="btn btn-sm">
              <i class="fas fa-eye text-primary"></i>
            </a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="4" class="text-center text-muted">
            No shipments from this factory.
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      <div class="pagination">
        <span class="step-links">
          {% if shipments.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ shipments.previous_page_number }}">previous</a>
          {% endif %}
          <span class="current">
            Page {{ shipments.number }} of {{ shipments.paginator.num_pages }}.
          </span>
          {% if shipments.has_next %}
            <a href="?page={{ shipments.next_page_number }}">next</a>
            <a href="?page={{ shipments.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
      </div>
    </div>
  <a href="{% url 'factory_list' %}" class="text-decoration-none btn m-3" style="border: 1px solid #4339f2; color:#4339f2">
    Back to Factories
  </a>
</div>

{% endblock %}
